* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.search-container {
    margin-top: 10px;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#search-button:hover {
    background-color: #0056b3;
  }
  
  main {
    padding: 20px;
  }
  
  #movie-results {
    margin-top: 20px;
  }
  
  #movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .movie-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .movie-item:hover {
    transform: scale(1.05);
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .movie-item h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .movie-item p {
    font-size: 14px;
    color: #777;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  