body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#83a4d4,#b6fbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0,0,0.2);
    text-align: center;
}

.weather-container h1{
    margin-bottom: 20px;
}

.weather-info p{
    margin: 10px 0;
    font-size: 18px;
}